
<h1>Editing Tutor</h1>

<%= form_with(model: [@tutor],url: tutor_path(current_user), local: true) do |form| %>
<% if @tutor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

    <ul>
    <% tutor.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :tutor_image %>
  </div>

  <div class="field">
    <%= form.label :rut %>
    <%= form.text_field :rut, id: :tutor_rut %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tutor_name %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :tutor_lastname %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :tutor_surname %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :tutor_address %>
  </div>

  <div class="field">
    <%= form.label :commune %>
    <%= form.select :commune_id, @commune.pluck(:name, :id) %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :tutor_phone %>
  </div>

  <div class="field">
    <%= form.label :school %>
    <%= form.text_field :school, id: :tutor_school %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level, id: :tutor_level %>
  </div>

  <div class="field">
    <%= form.label :course %>
    <%= form.text_field :course, id: :tutor_course %>
  </div>

  <div class="field">
    <%= form.label :tutor_id %>
    <%= form.text_field :id, id: :tutor_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', tutor_students_path(current_user) %>
