<h1>Mi Datos de Empresa</h1>

<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Representante Legal</th>
      <th>Rut Representante Legal</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>coordinador</th>
      <th>Rol</th>
      <th>Informacion de Emergencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= image_tag @enterprise.image.thumb %></td>
        <td><%= @enterprise.rut %></td>
        <td><%= @enterprise.name %></td>
        <td><%= @enterprise.email %></td>
        <td><%= @enterprise.r_legal %></td>
        <td><%= @enterprise.rut_legal %></td>
        <td><%= @enterprise.address %></td>
        <td><%= @enterprise.phone %></td>
        <td><%= @enterprise.school %></td>
        <td><%= @enterprise.role %></td>
        <td><%= @enterprise.info_emergency %></td>
        <td><%= link_to 'Show', enterprise_path(current_user) %></td>
        <td><%= link_to 'Editar', edit_enterprise_path(current_user) %></td>
      </tr>

  </tbody>
</table>

<br>
