<p id="notice"><%= notice %></p>

<%= render 'enterprises/index' %>

<h1>Mis Conductores</h1>

<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Rut</th>
      <th>Email</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Dirección</th>
      <th>Comuna</th>
      <th>Region</th>
      <th>Ciudad</th>
      <th>Pais</th>
      <th>Telefono</th>
      <th>coordinador</th>
      <th>Habilitado Trabajo con Menores</th>
      <th>Tipo de Licencia de Conducir</th>
      <th>Informacion de Emergencia</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= image_tag driver.image.thumb %></td>
        <td><%= driver.rut %></td>
        <td><%= driver.email %></td>
        <td><%= driver.name %></td>
        <td><%= driver.lastname %></td>
        <td><%= driver.surname %></td>
        <td><%= driver.address %></td>
        <td><%= driver.commune %></td>
        <td><%= driver.state %></td>
        <td><%= driver.city %></td>
        <td><%= driver.country %></td>
        <td><%= driver.phone %></td>
        <td><%= driver.school %></td>
        <td><%= driver.work_child %></td>
        <td><%= driver.type_driver_license %></td>
        <td><%= driver.info_emergency %></td>
        <td><%= driver.role %></td>
        <td><%= link_to 'Show', enterprise_driver_path(current_user, driver) %></td>
        <td><%= link_to 'Edit', edit_enterprise_driver_path(current_user, driver) %></td>
        <td><%= link_to 'Destroy', enterprise_driver_path(current_user, driver), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driver', new_enterprise_driver_path %>

<br>

<%= render 'cars/index' %>

<br>
